{% assign className = "image"|append:{{include.tag}}|append:" gallery" %}


<div class="w3-display-container">
	{% for i in include.image %}
		{% assign imgDest = {{site.baseurl}}|append:{{i}} %}
		<img class="{{ className }}" src="{{imgDest}}">
	{%endfor%}
	{% assign plusOne = "plusDivs(1,"|append:{{include.tag}}|append:")" %}
	{% assign minusOne = "plusDivs(-1,"|append:{{include.tag}}|append:")" %}
	<button class="w3-button w3-display-left" onclick="{{ minusOne }}">&#10094;</button>
	<button class="w3-button w3-display-right" onclick="{{ plusOne }}">&#10095;</button>
</div>




