h1.title {
	font-family: "Open Sans" ;
	font-weight: 800;
	text-align: center;
	font-size: 4em;
	margin: 30px 0;
	line-height: 1;
	letter-spacing: -1px;
	color: black;
}


h1 {
	font-family: "Open Sans";
	font-weight: 700;
	text-align: center;
	font-size: 3em;
	color: DodgerBlue;
}

h2 {
	font-family: "Open Sans";
	font-weight: 700;
	text-align: center;
	font-size: 2em;
	color: black;
}

p {
	font-family: "Open Sans";
	font-size: 18px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

ul {
	font-family: "Open Sans";
	font-size: 18px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

img {
	text-align: center;
	width: 600px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px){
	h1.title {
		font-family: "Open Sans" ;
		font-weight: 800;
		text-align: center;
		font-size: 8vw;
		margin: 30px 0;
		line-height: 1;
		letter-spacing: -1px;
		color: black;
	}

	h1 {
		font-family: "Open Sans";
		font-weight: 700;
		text-align: center;
		font-size: 7vw;
		color: DodgerBlue;
	}

	h2 {
		font-family: "Open Sans";
		font-weight: 700;
		text-align: center;
		font-size: 6vw;
		color: black;
	}

	img {
		width: 100%;
	}

	p {
		width: 100%;
	}
}
