<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800" rel="stylesheet">
		<link rel="stylesheet" href="{{site.baseurl}}/css/master.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{% include header.html %}
		{% include nav.html %}

		<section class="main-content">
		{{ content }}
		</section>

		{% include footer.html %}
	</body>

	{% if page.tag %}
		<script charset="utf-8">
			var slideId = {{ page.tag | jsonify }};
			var slideIndex = []

			for (var i = 0; i < slideId.length; i++)
			{
				slideIndex.push(1);
				showDivs(1, i)
			}

			function plusDivs(n, no)
			{
				showDivs(slideIndex[no] += n, no)
			}

			function showDivs(n, no)
			{
				var i;
				var x = document.getElementsByClassName(slideId[no]);
				if (n > x.length)
				{
					slideIndex[no] = x.length
				}
				if ( n < 1 )
				{
					slideIndex[no] = 1
				};

				for ( i = 0; i < x.length; i++ )
				{
					x[i].style.display = "none";
				}
				x[slideIndex[no]-1].style.display = "block";
			}
		</script>
	{% endif %}


</html>
